.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar {
  font-weight: bold;
}
.navbar-brand {
  padding-left : 5%;
  font-size: 3em;
}

.collapse {
  padding-right : 3%;
}

.upload_div {
  margin-left : 10%;

  width: 80%;
  height:  575px;
  text-align: center;
  border: 3px gray dashed;
  background: #E8EDED;
  border-radius: 80px;
}

.ad_banner {
  margin-top: 3.5%;
}

/* Desktop CSS*/
.cat_btn_Desktop {
  width: 5em;
  height: 2.3em;
  margin: 1.3em 1em 0 1em;

  background: white;
  color: black;
  cursor: pointer;

  font-size: 1em;
  font-weight: bold;

  letter-spacing: 0.1em;

  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.698);

  border: none;
  border-radius: 5px;
}
.cat_btn_Desktop:hover{
  width: 5.5em;
  background: aquamarine;
  opacity: 0.8;
  transition: all 0.5s ease;
}

.ad-banner-desktop {
  margin-top: 3.5%;
}

.result-row-desktop {
  margin-top: 1vh;
  height: 100vh;
  display: flex;
}

.left-result-desktop{
  flex: 1;
  border-right: 1px solid;
}

.left-top-image-desktop {
  margin-top: 1.2em;
  width: 20em; 
  height: 33em;
  
  overflow: hidden;

  box-shadow: -4px 5px 5px 0 rgba(80, 80, 80, 0.698);
  background: #E8EDED;
  border-radius: 2em;
}

.left-image-changeBtn{
  margin-top: 1em;
  margin-bottom: 0.2em;
  background: none;
  font-weight: 600;
  font-size: 1em;
  border: none;
}

.left-bottom-text-desktop {
  width: 24em;
  height: 16em;
  margin: 0 auto;  
  overflow: hidden;
  background: url(../../public/image_src/ModelSpecDivImg.png);
  background-size: cover;
  border-radius: 2em;
  box-shadow: -2px 2px 2px 1px rgba(80, 80, 80, 0.698);
}

.right-result-desktop{
  margin: 2vh 3.5vw 0 3.5vw;
  flex:2;
  width: 62vw;
  height: 90.9vh;
  overflow-x: hidden;
  background: #E8EDED;
  border-radius: 2.4vw;
}

.result-category-desktop{
  position: absolute;
  text-align: left;
  width: auto;
  height: 5em;
  background: #6e6e6E;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.result-list-desktop{
  margin-top: 6vh ;
  background: #E8EDED;
  overflow-y: scroll;
}


.right-result-desktop::-webkit-scrollbar {
  width: 15px;
  background: hidden;
  border-radius: 6px;
}

.right-result-desktop::-webkit-scrollbar-thumb {
  border-radius: 2vw;
  background: #8070d4;
  border: 6px solid rgba(0, 0, 0, 0.2);
}

.result-img-desktop {
  width: 13.4em;
  height: 20em;
  margin: 2em 2em 1em 2em;
  border-radius: 1.6em;
  box-shadow: -3px 5px 5px 0 rgba(80, 80, 80, 0.698);
}

/* Tablet CSS*/
.left-top-image-tablet {
  margin: 4em 0 0 0;
  border-radius: 1.8em;
  width: 20em;
  height: 31em;
  position: relative;
}

.result-category-tablet{
  /* position: absolute; */

  width: 100%;
  height: 5em;
  background: #6e6e6E;
  border-top-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
}

.result-category-mobile{
  width: 100%;
  height: 4.4em;
  background: #6e6e6E;
  border-top-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
}

.result-list-tablet{
  background: #E8EDED;
  overflow-y: scroll;
}


.right-result-tablet::-webkit-scrollbar {
  width: 15px;
  background: hidden;
  border-radius: 6px;
}

.right-result-tablet::-webkit-scrollbar-thumb {
  border-radius: 2vw;
  background: #8070d4;
  border: 6px solid rgba(0, 0, 0, 0.2);
}

.cat_btn_tablet {
  width: 5em;
  height: 2.3em;
  margin: 1.3em 1em 0 1em;

  background: white;
  color: black;
  cursor: pointer;

  font-size: 1em;
  font-weight: bold;

  letter-spacing: 0.1em;

  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.698);

  border: none;
  border-radius: 5px;
}
.cat_btn_tablet:hover{
  width: 5.8em;
  background: aquamarine;
  opacity: 0.8;
}

.result-img-tablet {
  width: 12em;
  height: 15em;
  margin: 1.5em 1em 1em 1em;
  border-radius: 1em;
  box-shadow: -3px 5px 5px 0 rgba(80, 80, 80, 0.698);
}

.cat_btn_mobile {
  width: 4.4em;
  height: 2.3em;
  margin: 1.5em 1em 0 1em;

  background: white;
  color: black;
  cursor: pointer;

  font-size: 0.8em;
  font-weight: bold;

  letter-spacing: 0.1em;

  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.698);

  border: none;
  border-radius: 5px;
}
.cat_btn_moblie:hover{
  width: 5.8em;
  background: aquamarine;
  opacity: 0.8;
}

.result-img-mobile {
  width: 8em;
  height: 12em;
  margin: 1.5em 2em 2em 2em;
  border-radius: 0.5em;
  box-shadow: -3px 5px 5px 0 rgba(80, 80, 80, 0.698);
}
