.searching {
    text-align: center
}

.searching-gif > img {
    width: 350px;
    margin-left: 2%;
    margin-top: 10%;
}

.searching-gaugebar-desktop {
    width: 750px;
    height: 18px;

    background: linear-gradient(270deg, #00A35E 0%, #E6E939 49.08%, #FF0000 103.55%);
    box-shadow: 0px 8px 20px rgba(175, 175, 175, 0.4);
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 1%
}

.searching-gaugebar-tablet {
    width: 70vw;
    height: 18px;

    background: linear-gradient(270deg, #00A35E 0%, #E6E939 49.08%, #FF0000 103.55%);
    box-shadow: 0px 8px 20px rgba(175, 175, 175, 0.4);
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 1%
}

.searching-gaugebar-mobile {
    width: 70vw;
    height: 18px;

    background: linear-gradient(270deg, #00A35E 0%, #E6E939 49.08%, #FF0000 103.55%);
    box-shadow: 0px 8px 20px rgba(175, 175, 175, 0.4);
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 1%
}

.searching-text {
    margin-top: 20px;
    margin-bottom: 10px;
}